/* =======================
  home/menu 
======================= */
.common__menu-rank {
  display: block;
  position: absolute;
  z-index: 2;
  background-color: var(--color-key);
  opacity: 0.8;
  color: var(--color-text-inverse);
  font-family: var(--font-ja-heading);
  text-align: center;
  font-size: 0.75rem;
  line-height: var(--line-height-base);
  letter-spacing: 0.075rem;
}

.home__menu-item-rank {
  width: 20%;
  height: 32%;
  top: 0;
  left: 0;
}

.common__menu-rank {
  width: 19.5%;
  height: 11%;
  top: 0;
  left: 0;
}

.home__menu-item-rank::before,
.common__menu-rank::before {
  display: block;
  content: "人気";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: -1;
}

.home__menu-item-rank::after,
.common__menu-rank::after {
  display: block;
  content: "No.1";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: -1;
}

/* =======================
  home/voice 
======================= */
.common__voice-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 46px;
  padding: 55px 0% 20px 0%;
}

.voice__after-item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 110px;
  padding: 55px 0% 20px 0%;
}

.common__voice-area {
  gap: 46px;
  padding: 55px 0;
}

.home__voice-area {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.voice__voice-txt-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 65%;
}

.common__voice-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 61%;
}

.voice__voice-text-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
  width: 100%;
}

.common__voice-order,
.sp-voice__voice-order {
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  border-bottom: solid 1px var(--color-primary);
  border-top: solid 1px var(--color-primary);
}

.common__voice-num-txt {
  width: 80%;
}

.common__voice-num-txt p,
.sp-voice__voice-num-txt p {
  font-family: var(--font-ja-heading);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

.common__voice-num,
.sp-voice__voice-num {
  font-family: var(--font-ja-heading);
  font-size: 4.375rem;
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

.voice__after-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.common__voice-customer p,
.voice__voice-customer p,
.sp-voice__voice-customer p {
  font-family: "Syunka", sans-serif;
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-wide);
}

.common__voice-customer p {
  font-size: 1.85rem;
}

.voice__voice-customer p {
  font-size: 1.5rem;
}

.voice__voice-txt p {
  color: var(--color-primary);
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

.common__voice-img-wrap {
  position: relative;
  width: 39%;
}

.common__voice-img-wrap img {
  width: 100%;
}

.sp-voice__after-group {
  display: none;
}

/* =======================
  sp    home/voice 
======================= */

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .common__voice-customer p {
    font-size: 2.2vw;
    line-height: var(--line-height-base);
  }

  .common__voice-area {
    gap: 46px;
    padding: 55px 50px 20px 50px;
  }

  .voice__after-item {
    padding: 60px 5%;
  }

  .voice__voice-customer p {
    font-size: 1.33rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 820px) {
  .common__voice-area {
    gap: 46px;
    padding: 55px 50px 20px 50px;
  }

  .common__voice-text-wrap {
    width: 55%;
  }

  .voice__voice-text-wrap {
    gap: 5.7%;
  }

  .voice__after-item {
    gap: 75px;
  }

  .common__voice-num {
    font-size: 7.25vw;
  }

  .common__voice-customer p {
    font-size: 2vw;
    line-height: var(--line-height-base);
  }

  .voice__voice-customer p {
    font-size: 2vw;
  }

  .common__voice-img-wrap {
    width: 45%;
  }
}

/* tab */
@media screen and (max-width: 820px) and (min-width: 768px) {
  .common__voice-area {
    gap: 46px;
    padding: 55px 50px 20px 50px;
  }

  .common__voice-text-wrap {
    width: 55%;
  }

  .voice__after-item {
    gap: 75px;
  }

  .common__voice-num {
    font-size: 7.25vw;
  }

  .common__voice-customer p {
    font-size: 2.75vw;
    line-height: var(--line-height-base);
  }

  .common__voice-img-wrap {
    width: 45%;
  }

  /* sp用 */
  .sp-voice__after-group {
    display: block;
  }

  .sp-voice__after-item {
    padding: 26px 20px 120px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .sp-voice__voice-img-wrap {
    width: 60%;
    padding: 30px 0 20px 0;
  }

  .sp-voice__voice-img-wrap img {
    width: 100%;
  }

  .sp-voice__voice-txt-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
  }

  .sp-voice__voice-text-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
    width: 85%;
    margin: 0 auto;
  }

  .sp-voice__voice-order {
    width: 20%;
  }

  .sp-voice__voice-num p {
    font-family: var(--font-ja-heading);
    font-size: 2vw;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }

  .sp-voice__voice-customer {
    width: 75%;
  }

  .sp-voice__voice-customer p {
    font-size: 2.35vw;
    line-height: var(--line-height-base);
  }

  .sp-voice__voice-txt {
    color: var(--color-primary);
    font-size: var(--font-size-text);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    width: 70%;
    margin: 0 auto;
  }

  .sp-voice__voice-txt p {
    color: var(--color-primary);
    font-size: var(--font-size-text);
  }

  .voice__after-group {
    display: none;
  }
}

/* sp */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .common__voice-area {
    gap: 46px;
    padding: 55px 50px 20px 50px;
  }

  .common__voice-text-wrap {
    width: 85%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
  }

  .common__voice-num-txt p {
    font-size: 2vw;
  }

  .voice__after-item {
    gap: 75px;
  }

  .common__voice-num {
    font-size: 4.55vw;
  }

  .common__voice-customer p {
    font-size: 2.2vw;
    line-height: var(--line-height-base);
    margin-top: 20px;
    width: 100%;
  }

  .common__voice-img-wrap {
    width: 70%;
  }

  /* sp用 */
  .sp-voice__after-group {
    display: block;
  }

  .sp-voice__after-item {
    padding: 26px 0px 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .sp-voice__voice-img-wrap {
    width: 80%;
    padding: 30px 0 20px 0;
  }

  .sp-voice__voice-img-wrap img {
    width: 100%;
  }

  .sp-voice__voice-txt-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
  }

  .sp-voice__voice-text-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 85%;
    margin: 0 auto;
  }

  .sp-voice__voice-order {
    width: 15%;
    margin-top: -20px;
  }

  .sp-voice__voice-num-txt p {
    font-size: 13px;
  }

  .sp-voice__voice-num p {
    font-size: 28px;
  }

  .sp-voice__voice-customer {
    width: 75%;
    margin-bottom: -20px;
  }

  .sp-voice__voice-customer p {
    font-size: 18px;
    line-height: var(--line-height-base);
  }

  .sp-voice__voice-txt {
    color: var(--color-primary);
    font-size: var(--font-size-text);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    width: 70%;
    margin: 0 auto;
  }

  .sp-voice__voice-txt p {
    color: var(--color-primary);
    font-size: var(--font-size-text);
  }

  .voice__after-group {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .common__voice-area {
    gap: 46px;
    padding: 55px 50px 20px 50px;
  }

  .common__voice-text-wrap {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
    gap: 0;
  }

  .voice__after-item {
    gap: 75px;
  }

  .common__voice-num-txt p {
    font-size: 0.5rem;
  }

  .common__voice-num {
    font-size: 1.125rem;
  }

  .common__voice-customer p {
    font-size: 16px;
    line-height: var(--line-height-base);
    margin-top: 20px;
  }

  .common__voice-img-wrap {
    width: 100%;
  }

  /* sp用 */
  .sp-voice__after-group {
    display: block;
  }

  .sp-voice__after-item {
    padding: 26px 0px 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .sp-voice__voice-img-wrap {
    width: 100%;
    padding: 30px 0 20px 0;
  }

  .sp-voice__voice-img-wrap img {
    width: 100%;
  }

  .sp-voice__voice-txt-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
  }

  .sp-voice__voice-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
  }

  .sp-voice__voice-order {
    width: 25%;
    margin-top: -100px;
    gap: 10px;
    background-color: rgb(255, 255, 255, .5);
    padding: 5px;
  }

  .sp-voice__voice-num-txt p {
    font-size: 12px;
    opacity: 1;
  }

  .sp-voice__voice-num p {
    font-size: 28px;
  }

  .sp-voice__voice-customer {
    padding-top: 20px;
  }

  .sp-voice__voice-customer p {
    font-size: 16px;
    line-height: var(--line-height-base);
    width: 100%;
  }

  .sp-voice__voice-txt {
    color: var(--color-primary);
    font-size: var(--font-size-text);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    width: 85%;
    margin: 0 auto;
  }

  .sp-voice__voice-txt p {
    color: var(--color-primary);
    font-size: var(--font-size-text);
  }

  .voice__after-group {
    display: none;
  }
}