/* =======================
     layout & header/footer 共通
  ======================= */
.components-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-item {
  font-family: var(--font-ja-heading);
  color: var(--color-primary);
}

.nav-item a {
  position: relative;
  transition: 0.3s;
}
.nav-item a:hover {
  color: var(--color-primary);
}
.nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: var(--color-primary);
  transition: 0.3s;
}
.nav-item a:hover::before {
  width: 100%;
}

.pc-br {
  display: block;
}

/* sp */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .components-container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  .sp-br {
    display: block;
    margin-top: 10px;
  }
}

@media screen and (max-width: 426px) {
  .components-container {
    width: 100%;
    max-width: 426px;
    margin: 0 auto;
  }

  .sp-br {
    display: block;
    margin-top: 10px;
  }

  .min-sp-br {
    display: block !important;
    margin-top: 8px;
  }
}

/* =======================
   共通パーツ
   - heading-ttl
======================= */
/******* heading ttl *******/
.l-heading-ttl-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 80px;
}

.l-heading-ttl-en {
  display: block;
  position: relative;
  font-family: var(--font-en-heading);
  font-size: var(--heading-en-pc-size);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-text);
  text-align: center;
}

.l-heading-ttl-en:before {
  display: block;
  content: "";
  background: var(--color-text);
  opacity: 0.3;
  width: 0.5px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
}

.l-heading-ttl-ja {
  font-family: var(--font-ja-heading);
  font-size: var(--font-size-text);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-text);
}

/* sp */
@media screen and (max-width: 768px) {
  .l-heading-ttl-en:before {
    height: 50px;
    top: 43%;
    left: 48%;
    transform: translate(-50%, -50%) rotate(47deg);
  }

  .l-heading-ttl-ja {
    text-align: center;
  }
}

/* =======================
   共通パーツ
   - btn
======================= */
/******* header /reserve btn *******/
.cta-btn,
.sp-cta-btn {
  font-family: var(--font-ja-heading);
  background-color: var(--color-key);
  color: var(--color-text-inverse);
  box-shadow: 2px 2px 10px #555555;
  text-align: center;
  border: none;
  transition: 0.3s ease-in-out;
}

.cta-btn:hover,
.sp-cta-btn:hover {
  background-color: var(--color-base-light);
  color: var(--color-text);
}

/* 予約btn  headerのみ*/
.header-btn {
  width: 25%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  font-size: 1.15rem;
}

.header-btn a {
  padding: 13px 20px;
}

/******* セクション下 btn *******/
.home__link-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
  width: 90%;
}

.home__link-txt p {
  font-size: 0.9375rem;
  line-height: var(--line-height-tight);
  letter-spacing: 1.5px;
  padding-bottom: 20px;
}

.home__link-btn {
  position: relative;
  display: flex;
  align-items: center;
}

.home__link-btn a {
  font-family: var(--font-en-heading);
  font-size: 1.5rem;
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-base);
  padding: 25px 100px;
  color: var(--color-text-inverse);
  background-color: var(--color-base);
  border: solid 1px var(--color-base-dark);
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 10px rgba(113, 95, 90, 0.5);
}

.home__link-btn a:hover {
  border: solid 1px var(--color-base-dark);
}

/* btn 矢印 */
.home__link-btn-arrow {
  display: block;
  background: var(--color-primary);
  width: 30%;
  height: 1px;
  position: absolute;
  bottom: 60%;
  right: -35px;
}

.home__link-btn-arrow::before,
.home__link-btn-arrow::after {
  display: block;
  content: "";
  background: var(--color-primary);
  position: absolute;
  width: 8%;
  height: 0.75px;
  transition: 0.3s ease-in-out;
}

.home__link-btn-arrow::before {
  bottom: 2.5px;
  right: 0%;
  transform: rotate(35deg);
}

.home__link-btn-arrow::after {
  bottom: -2.5px;
  right: 0%;
  transform: rotate(-35deg);
}

/* btn-hover */
.home__link-btn a:hover {
  background-color: var(--color-text-inverse);
  color: var(--color-base);
}

.home__link-btn a:hover + .home__link-btn-arrow {
  width: 33%;
  height: 1px;
  transform: translateX(12px); /* 右3px移動 */
}

.home__link-btn a:hover + .home__link-btn-arrow::before,
.home__link-btn a:hover + .home__link-btn-arrow::after {
  transform: translateX(5px) rotate(35deg); /* 矢印も右に動かす */
}

.home__link-btn a:hover + .home__link-btn-arrow::after {
  transform: translateX(5px) rotate(-35deg); /* 矢印の下側 */
}

/* =======================
   sp 共通パーツ
   - btn
======================= */
/* sp */
@media screen and (max-width: 768px) {
  .cta-btn,
  .sp-cta-btn {
    padding: 3vw 20vw;
  }

  .home__link-txt p {
    padding-bottom: 0px;
  }
}

/* =======================
     header
  ======================= */
.header {
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 990;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4deda;
  border-bottom: solid 1px var(--color-text);
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  line-height: 72px;
  padding-left: 6%;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 72px;
}

.header-item {
  font-size: 1.15rem;
  padding: 8px 1.3%;
  color: var(--color-text);
}

.sp-menu-btn,
.header-nav-sp {
  display: none;
}

/* =======================
     sp header
  ======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .header-nav {
    padding-left: 0;
  }

  .header-nav ul {
    justify-content: space-around;
  }

  .header-btn {
    text-align: center;
  }

  .header-item {
    font-size: 1rem;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .header-nav {
    padding-left: 0;
  }

  .header-nav ul {
    justify-content: space-around;
    width: 75%;
  }

  .header-nav-sp ul li {
    color: var(--color-base-light);
    font-family: var(--font-ja-heading);
    font-size: 4.5vw;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    padding: 12px 0;
  }

  .header-btn {
    text-align: center;
    width: 45%;
    font-size: 1rem;
  }

  .header-item {
    font-size: 1rem;
  }

  .header-btn {
    width: 25%;
    padding: 0px 20px;
  }

  .header-btn-link,
  .header-btn a {
    font-size: 1.15rem;
  }
}

/* sp */
@media screen and (max-width: 768px) {
  .header {
    background-color: transparent;
    border: none;
  }

  .header-nav {
    display: none;
  }

  .header-nav-sp {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-base);
    z-index: 9998;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4vw;
    gap: 7vw;
  }

  .header-nav-sp ul {
    gap: 24px;
    padding: 17% 5% 0 5%;
    width: 100%;
  }

  .header-nav-sp ul li {
    color: var(--color-base-light);
    font-family: var(--font-ja-heading);
    font-size: 18px;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    padding: 12px 0;
  }

  .header-btn {
    width: 65%;
    padding: 7vw 5vw;
    margin-top: 70px;
  }

  .header-btn-link,
  .header-btn a {
    font-size: 18px;
    padding: 5vw 10vw;
  }

  .sp-header-btn {
    margin-top: 30px;
  }

  /* ハンバーガーメニュー */
  .sp-menu-btn {
    display: block;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 9999;
    background-color: rgb(162, 143, 129, .2);
  }

  .sp-menu-btn span,
  .sp-menu-btn span::before,
  .sp-menu-btn span::after {
    background-color: var(--hum-btn-color);
    transition: 0.3s ease;
    border-radius: 5rem;
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
  }

  .sp-menu-btn span {
    background-color: var(--color-base-light);
    top: 30px;
    left: 12px;
  }

  .sp-menu-btn span::before {
    background-color: var(--color-base-light);
    top: -13px;
  }

  .sp-menu-btn span::after {
    background-color: var(--color-base-light);
    bottom: -13px;
  }

  .sp-menu-btn.scrolled span,
  .sp-menu-btn.scrolled span::before,
  .sp-menu-btn.scrolled span::after {
    background-color: var(--color-base-dark);
    border-radius: 5rem;
  }

  /* hamメニュークリック時動き */
  /* .sp-menu-btn.open span {
    background-color: transparent;
  }

  .open span::before {
    transform: rotate(45deg);
    top: 0;
  }

  .open span::after {
    transform: rotate(-45deg);
    bottom: 0;
  } */

  /* ハンバーガーメニューを開いた時 */
.sp-menu-btn.open span {
  width: 0;
  height: 0;
  transition: width 0.01s ease-in, height 0.01s ease-in;
  background: var(--color-base-light);
}

.sp-menu-btn.open span::before,
.sp-menu-btn.open span::after {
  transition: transform 0.3s ease, background-color 0.3s ease;
  background: var(--color-base-light);
}

.sp-menu-btn.open span::before {
  transform: rotate(45deg) translate(0, 0); /* バツの上ライン */
  top: 0;
}

.sp-menu-btn.open span::after {
  transform: rotate(-45deg) translate(0, 0); /* バツの下ライン */
  top: 0;
}

  /* スクロール時の背景色 */
.sp-menu-btn.scrolled span,
.sp-menu-btn.scrolled span::before,
.sp-menu-btn.scrolled span::after {
  background-color: var(--color-primary);
}

/* 白背景の場合 */
.sp-menu-btn.white-bg span,
.sp-menu-btn.white-bg span::before,
.sp-menu-btn.white-bg span::after {
  background-color: var(--color-base-light);
}
}

/* =======================
     footer
======================= */
.footer {
  width: 100%;
  padding: 60px 0 122px 0;
  display: flex;
  flex-direction: column;
}

.footer__nav-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 63px;
  position: relative;
}

.footer__nav-wrap::after {
  display: block;
  content: "";
  background: var(--color-base);
  height: 1px;
  width: 95%;
  position: absolute;
  bottom: 0;
  left: 2.5%;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__nav-wrap-left,
.footer__nav-wrap-centerleft,
.footer__nav-wrap-centerright,
.footer__nav-wrap-right {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.footer__nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 12px 0 48px 0;
}

.footer__nav ul + .footer__nav ul {
  padding-top: 60px;
}

.footer__item {
  font-size: 1.1rem;
  line-height: var(--line-height-tight);
  text-align: left;
  width: 100%;
}

.footer__item a {
  width: 100%;
}

.footer_nav-ttl {
  display: block;
  font-size: 1.6rem;
  font-weight: var(--font-weight-bold);
}

.footer__nav-sns {
  display: inline-flex;
  align-items: center;
  gap: 10px; /* 文字と画像の間の余白 */
}

.footer__nav-sns a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.footer__sns-text {
  font-family: var(--font-ja-heading);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  font-size: 1.3rem;
}

.footer__sns-img {
  width: 25px;
}

.footer__sns-img img {
  width: 100%;
  padding-top: 10px;
}

.footer__copyright {
  margin: 0 auto;
  padding-top: 50px;
}

.footer__copyright p {
  display: block;
  font-size: 0.85rem;
  text-align: center;
  line-height: var(--line-height-heading);
}

/* =======================
   sp  footer
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .footer__nav-wrap-left,
  .footer__nav-wrap-centerleft,
  .footer__nav-wrap-centerright,
  .footer__nav-wrap-right {
    width: 22%;
  }

  .footer__item {
    font-size: 1rem;
  }

  .footer_nav-ttl {
    font-size: 1.3rem;
  }

  .footer__sns-img {
    width: 35px;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .footer {
    padding: 100px 0 122px 0;
  }

  .footer__item {
    font-size: 1.5vw;
  }

  .footer_nav-ttl {
    font-size: 1.15rem;
  }

  .footer__nav-sns {
    align-items: flex-end;
  }

  .footer__sns-img {
    width: 20px;
    display: flex;
  }
}
/* sp */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .footer {
    background-color: var(--color-base);
    box-sizing: border-box;
  }

  .footer__nav-wrap {
    flex-direction: column;
  }

  .footer__nav-wrap-left,
  .footer__nav-wrap-centerleft,
  .footer__nav-wrap-centerright,
  .footer__nav-wrap-right {
    width: 90%;
    align-items: flex-start;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__nav ul {
    gap: 35px;
    padding: 16px 0;
    border-top: solid 0.5px var(--color-base-light);
    width: 100%;
  }

  .footer__item {
    color: var(--color-text-inverse);
    width: 100%;
    font-size: 5vw;
    padding: 20px 0;
  }

  .footer_nav-ttl {
    font-size: 5vw;
    font-weight: var(--font-weight-bold);
  }

  .footer__sns-text {
    color: var(--color-text-inverse);
  }

  .footer__sns-img {
    line-height: 5vw;
  }

  .footer__sns-img img {
    width: 100%;
  }

  .footer__copyright {
    color: var(--color-text-inverse);
  }
}

/* sp */
@media screen and (max-width: 426px) {
  .footer {
    background-color: var(--color-base);
    box-sizing: border-box;
  }

  .footer__nav-wrap {
    flex-direction: column;
    gap: 15px;
  }

  .footer__nav-wrap-left,
  .footer__nav-wrap-centerleft,
  .footer__nav-wrap-centerright,
  .footer__nav-wrap-right {
    width: 90%;
    align-items: flex-start;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__nav ul {
    gap: 35px;
    padding: 16px 0;
    border-top: solid 0.5px var(--color-base-light);
    width: 100%;
    padding: 15px 0;
  }

  .footer__item {
    color: var(--color-text-inverse);
    width: 100%;
  }

  .footer_nav-ttl {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
  }

  .footer__nav-sns {
    align-items: flex-end;
    color: var(--color-text-inverse);
  }

  .footer__sns-img {
    line-height: 24px;
  }

  .footer__sns-text {
    color: var(--color-text-inverse);
  }

  .footer__copyright {
    color: var(--color-text-inverse);
  }
}

/* =======================
   reserve
   ======================= */
.reserve__container {
  margin-top: 55px;
  background-color: var(--color-base);
}

.reserve__btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 95px 0;
}

.reserve__btn-message {
  font-family: var(--font-ja-heading);
  font-size: 1.625rem;
  color: var(--color-text-inverse);
}

.reserve__btn-link a {
  font-size: 1.625rem;
  padding: 18px 63px;
}

/* =======================
     sp reserve
     ======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .reserve__btn-message,
  .reserve__btn-link a {
    font-size: 1.45rem;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .reserve__btn-wrap {
    gap: 4.25rem;
    flex-direction: column;
    padding: 75px 0;
  }

  .reserve__btn-message,
  .reserve__btn-link a {
    font-size: 1.5rem;
  }
}

/* sp */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .reserve__container {
    position: relative;
  }

  .reserve__container::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/RESERVE-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
  }

  .reserve__btn-wrap {
    gap: 4.25rem;
    flex-direction: column;
    padding: 75px 0;
    width: 90%;
  }

  .reserve__btn-message,
  .reserve__btn-link a {
    font-size: 4vw;
    text-align: center;
  }

  .reserve__btn-link a {
    padding: 6vw 15vw;
  }
}

@media screen and (max-width: 426px) {
  .reserve__btn-wrap {
    gap: 2.25rem;
    flex-direction: column;
    padding: 75px 0;
    width: 90%;
  }

  .reserve__btn-message,
  .reserve__btn-link a {
    font-size: 5.2vw;
    text-align: center;
  }

  .reserve__btn-link a {
    padding: 6vw 15vw;
  }
}

/******************
 hover skewアニメーション 
 - header
 - 各section下 btn
 - reserve
 ******************/
/* ボタン共通設定 */
.header-btn,
.reserve__btn-footer,
.home__link-url {
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*ボタンの形状*/
  display: inline-block;
  text-align: center;
  /*アニメーションの指定*/
  transition: ease 0.2s;
}

/*ボタン内spanの形状*/
.header-btn span,
.reserve__btn-footer span,
.home__link-url span {
  position: relative;
  z-index: 3;
  color: var(--color-base-light);
}

.header-btn:hover span,
.home__link-url:hover span,
.reserve__btn-footer:hover span {
  color: var(--color-base-dark);
}

/* 背景が流れる（斜め） */
.bg-skew::before {
  content: "";
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: -130%;
  /*色や形状*/
  background: var(--color-base-light);
  width: 120%;
  height: 100%;
  transform: skewX(-25deg);
}

.bg-skew-header::before {
  height: 80%;
}

/*hoverした時のアニメーション*/
.bg-skew:hover::before {
  animation: skewanime 0.5s forwards; /*アニメーションの名前と速度を定義*/
}

@keyframes skewanime {
  100% {
    left: -10%;
  }
}

/* =======================
     sp 共通パーツ
 ======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .home__link-txt p {
    font-size: 1rem;
    line-height: var(--line-height-tight);
    letter-spacing: 1.5px;
    padding-bottom: 20px;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home__link-btn a {
    padding: 5vw 23.5vw;
  }
}

/* sp */
@media screen and (max-width: 768px) {
  .home__link-area {
    width: 100%;
  }

  .header-btn-link {
    padding: 5vw 23.5vw;
  }

  .home__link-btn-arrow {
    display: none;
  }
}

/* =======================
   個別page top (img/ttl)
======================= */
.individual-top {
  width: 100%;
  position: relative;
}

.individual-top-img {
  position: relative;
  width: 100%;
  padding: 72px 0 0 0;
}

.individual-top-img img {
  width: 100%;
}

.individual-top-img::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 24.3%; /*アスペクト比 (350 / 1440 = 0.243)*/
  background: rgb(113, 95, 90, 0.8);
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 1;
}

.individual-top-ttl {
  font-family: var(--font-en-heading);
  font-size: 6.25vw;
  color: var(--color-text-inverse);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  letter-spacing: 8px;
  text-align: center;
}

/* sp */
@media screen and (max-width: 768px) {
  .individual-top-img {
    padding: 0;
  }

  .individual-top-img::before {
    top: 0;
    left: 0;
    padding-top: 53.3%;
  }

  .individual-top-ttl {
    top: 50%;
  }
}
