
/* お客様voice フォント */
@font-face {
    font-family: "Syunka";
    src: url("../font/syunka2pbb.woff2") format("woff2"),
         url("../font/syunka2pbb.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  