/* =======================
   home共通
======================= */
/* reason部分 l-container */
.home__l-container {
  padding: 80px 0;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

/* =======================
   sp home共通
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
}

/* =======================
   copy → site-content
======================= */
.home__top-copy-horizontal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #a28f81;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s ease;
}

.home__top-copy-horizontal p {
  color: var(--color-text-inverse);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-ja-heading);
  line-height: var(--line-height-base);
}

.home__top-copy-horizontal p {
  letter-spacing: var(--letter-spacing-base);
}

.home__top-copy-horizontal p {
  font-size: 2.5rem;
  letter-spacing: 0.375rem;
}

@keyframes fadeInSoft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* pタグの中の文字を最初は完全に消す */
.home__top-copy-horizontal p span {
  display: inline-block;
  opacity: 0;
  animation: fadeInSoft 0.8s ease-out forwards, sparkle 1.5s infinite alternate;
  animation-delay: var(--delay);
}

/* 文字光る キラキラ */
@keyframes sparkle {
  0% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.4),
      0 0 4px rgba(255, 255, 255, 0.4);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
      0 0 4px rgba(255, 255, 255, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 1), 0 0 4px rgba(255, 255, 255, .8);
  }
}

/* 文字が一つずつ表示されるアニメーション */
@keyframes fadeInSoft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.site-content {
  opacity: 0;
  transition: opacity 1s ease;
}

/* =======================
  sp  copy → site-content
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .home__top-copy-horizontal p {
    font-size: 2.2rem;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home__top-copy-horizontal p {
    font-size: 2.2rem;
    letter-spacing: 0.2em;
  }
}

/* sp */
@media screen and (max-width: 768px) {
  .home__top-copy-horizontal {
    display: none;
  }
}

/* =======================
  FV
======================= */
.home__top {
  width: 100%;
  max-width: 1440px;
  position: relative;
  padding-top: 72px;
  margin: 0 auto;
}

.home__top::after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  visibility: hidden;
}

/* 画像 back */
.home__top-mv {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.home__top-mv img {
  width: 100%;
}

.home__mv-img-wrap {
  position: relative;
  width: 100%;
  max-width: 1440px;
}

.home__top-mv-upper,
.home__top-mv-lower {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__top-mv-upper-item,
.home__top-mv-lower-item {
  width: 22%;
  position: relative;
}

.home__top-mv-upper-item::before,
.home__top-mv-lower-item::before,
.home__top-message-img::before {
  display: block;
  content: "";
  background: rgb(162, 143, 129, 0.5);
  mix-blend-mode: soft-light;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(1.5);
}

.home__top-logo,
.sp-home__top-logo {
  position: absolute;
  top: 103%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.home__top-logo h1,
.sp-home__top-logo h1 {
  color: var(--color-dark);
  text-align: center;
  font-family: var(--font-en-heading);
  font-size: 8rem;
  line-height: var(--line-height-base);
  letter-spacing: 0.6rem;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.sp-home__top-logo {
  display: none;
}

/* テキスト */
.home__mv-txt-wrap {
  width: 53%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 36.5%;
  right: 4.25vw;
  gap: 110px;
}

.sp-home__top-copy {
  position: absolute;
  top: 30%;
  left: 46%;
  transform: translate(0, -50%);
}

.home__top-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: fadeInUp 1.75s ease-in-out forwards;
  opacity: 0;
}

.sp-home__sub-copy {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: 20%;
  left: 0%;
  transform: translate(0, -50%);
}

.sp-home__top-copy-horizontal {
  margin: 0 auto;
}

.sp-home__top-vertical-txt,
.sp-home__top-horizontal-txt {
  color: var(--color-text-inverse);
  text-align: center;
  font-family: var(--font-ja-heading);
  line-height: var(--line-height-base);
}

.sp-home__top-vertical-txt {
  color: var(--color-base-dark);
  text-align: center;
  font-family: var(--font-ja-heading);
  line-height: var(--line-height-base);
  letter-spacing: 2px;
  writing-mode: vertical-lr;
}

.sp-home__top-horizontal-txt {
  padding: 20px 10px 50px 10px;
  letter-spacing: var(--letter-spacing-wide);
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5);
}

.home__top-copy-vertical p {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.sp-home__top-copy-vertical,
.sp-home__top-copy-horizontal,
.sp-home__top-vertical-txt,
.sp-home__top-horizontal-txt {
  display: none;
}

/* =======================
  sp FV
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .home__top {
    margin-bottom: 6%;
  }

  .home__mv-txt-wrap {
    right: 1%;
    gap: 6vw;
  }

  .home__top-copy-vertical p {
    font-size: 2.5vw;
  }

  .home__top-logo h1 {
    font-size: 8.5vw;
  }



  .home__top-message-ttl-ja p {
    font-size: 2.55vw;
  }

  .home__top-message-ttl-en {
    right: 12%;
  }

  .home__top-message-ttl-en p {
    font-size: 16vw;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home__top {
    margin-bottom: 6%;
  }

  .home__mv-txt-wrap {
    width: 59%;
    right: 0vw;
    gap: 5vw;
  }

  .home__top-copy-vertical p {
    font-size: 3vw;
    letter-spacing: 0.2em;
  }

  .sp-home__top-copy-horizontal {
    writing-mode: horizontal-tb;
    display: block;
  }

  .home__top-logo h1 {
    font-size: 8.5vw;
  }

  .home__top-message-ttl-ja p {
    font-size: 3vw;
    letter-spacing: var(--letter-spacing-base);
  }

  .home__top-message-ttl-en {
    right: 12vw;
  }

  .home__top-message-ttl-en p {
    font-size: 16vw;
  }
}

/* sp */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .home__top {
    padding-top: 0;
    margin: 0 auto;
  }

  .home__top-mv-upper-item:not(:first-child),
  .home__top-mv-lower-item {
    display: none;
  }

  .home__top-mv-upper-item:first-child picture {
    display: block;
    width: 100%;
  }

  .home__top-mv-upper-item {
    width: 100%;
  }

  .home__top-mv-lower-item {
    display: none;
  }

  /* テキスト */
  .home__mv-txt-wrap {
    width: 53%;
    top: 19.5%;
    right: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }

  .home__top-copy {
    display: block;
  }

  .home__top-copy-vertical p {
    display: none;
  }

  .sp-home__top-copy-vertical,
  .sp-home__top-copy-horizontal,
  .sp-home__top-vertical-txt,
  .sp-home__top-horizontal-txt {
    display: block;
  }

  .sp-home__top-vertical-txt {
    font-size: 4.6vw;
    text-align: center;
    letter-spacing: 2vw;
    padding-top: 60px;
  }

  .sp-home__top-copy-horizontal {
    position: absolute;
  }

  .sp-home__top-horizontal-txt {
    font-size: 4.4vw;
    width: 100%;
    animation: fadeInSoft 0.8s ease-out forwards, sparkle 1.5s infinite alternate;
    animation-delay: var(--delay);
    /* text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2); */
  }

  .sp-home__top-logo {
    display: block;
    top: 85%;
    left: 52%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 95%;
    color: var(--color-text-inverse);
  }

  .sp-home__top-logo h1 {
    font-size: 8vw;
    writing-mode: unset;
    width: 98%;
  }

  .home__top-logo {
    display: none;
  }

  .home__top-message {
    display: none;
  }

  .sp-home__top-message {
    display: block;
  }

  .sp-home__top-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .sp-home__top-message-ttl-ja {
    color: var(--color-primary);
    text-align: center;
    font-family: var(--font-ja-heading);
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-base);
  }

  .sp-home__top-message-txt {
    width: 80%;
  }

  .sp-home__top-message-txt p {
    width: 100%;
    font-size: 1.125rem;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }
}

@media screen and (max-width: 426px) {
  .home__top {
    padding-top: 0;
    margin: 0 auto;
  }

  .home__top-mv-upper-item:not(:first-child),
  .home__top-mv-lower-item {
    display: none;
  }

  .home__top-mv-upper-item:first-child picture {
    display: block;
    width: 100%;
  }

  .home__top-mv-upper-item {
    width: 100%;
  }

  .home__top-mv-lower-item {
    display: none;
  }

  /* テキスト */
  .home__mv-txt-wrap {
    width: 53%;
    top: 19.5%;
    right: 0;
    z-index: 10;
  }

  .home__top-copy {
    display: block;
    animation: fadeInUp 1.75s ease-in-out forwards;
    opacity: 0;
  }

  .home__top-copy-vertical p {
    display: none;
  }

  .sp-home__top-copy-vertical,
   .sp-home__top-copy-horizontal,
  .sp-home__top-vertical-txt,
  .sp-home__top-horizontal-txt {
    display: block;
  }

  .sp-home__top-vertical-txt {
    font-size: 4.6vw;
    text-align: center;
    letter-spacing: 2vw;
    padding-top: 40px;
  }

  .sp-home__top-copy-vertical p + p {
    margin-top: 10px;
  }

  .sp-home__top-copy-horizontal {
    position: absolute;
    font-size: 4.4vw;
  }

  .sp-home__top-horizontal {
    font-size: 6vw;
    padding-right: 0px;
  }

  .sp-home__top-horizontal-txt {
    padding: 20px 10px 30px 10px;
  }

  .sp-home__top-logo {
    display: block;
    top: 97%;
    left: 52%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 95%;
  }

  .sp-home__top-logo h1 {
    font-size: 6.2vw;
    writing-mode: unset;
    width: 98%;
    color: var(--color-text-inverse);
  }

  /* スクロール */
  .sp-home__top-scroll {
    position: absolute;
  right: 50%;
  top: 10%;
  writing-mode: vertical-rl;
  margin-top: 40px;
  }

  .sp-home__top-scroll::before {
    animation: scroll 2.5s infinite;
  background-color: var(--color-base);
  bottom: -115px;
  content: "";
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 1px;
  }

  /* 線のアニメーション */
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  60% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  71% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

  .home__top-logo {
    display: none;
  }

  .home__top-message {
    display: none;
  }

  .sp-home__top-message {
    display: block;
  }

  .sp-home__top-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .sp-home__top-message-ttl-ja {
    color: var(--color-primary);
    text-align: center;
    font-family: var(--font-ja-heading);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-base);
  }

  .sp-home__top-message-txt {
    width: 90%;
  }

  .sp-home__message-center {
    display: block;
    text-align: center;
    padding: 10px 0;
  }

  .sp-home__top-message-txt p {
    width: 100%;
    font-size: 1.125rem;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }
}

/* =======================
メッセージ
======================= */
.home__message {
  position: relative;
  margin: 250px 0 120px 0;
  padding: 150px 0 80px 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.home__message-wrap {
  position: relative;
  padding: 100px 0;
}

.home__top-message {
  position: relative;
  width: 75%;
  padding-left: 10%;
}

.home__top-message-ttl-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin-top: 20px;
}

.home__top-message-ttl-ja p {
  font-family: var(--font-ja-heading);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  letter-spacing: var(--letter-spacing-base);
}

.home__top-message-txt {
  width: 85%;
  padding-top: 37px;
}

.home__top-message-txt p {
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  font-size: var(--font-size-text);
  padding: 25px 15px;
  margin-top: 50px;
  background: linear-gradient(
    -18deg,
    rgb(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.8)
  );
}

.home__top-message-ttl-en {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
    15deg,
    rgb(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
}

.home__top-message-ttl-en p {
  font-family: var(--font-en-cursive);
  font-size: 14.375rem;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing-base);
  opacity: 0.1;
}

/* home__top-message-img の位置調整 */
.home__top-message-img {
  position: relative; /* position: absolute から relative に変更 */
  top: 0; /* 上からの位置調整 */
  right: 0;
  z-index: 0; /* 他の要素より前に出ないように調整 */
  opacity: 0.35;
  width: 78%;
}
.home__top-message-img {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: -1;
  opacity: 0.35;
  width: 60%;
}

.home__top-message-img img {
  width: 100%;
}

.sp-home__top-message {
  display: none;
}

/* =======================
  sp message
======================= */
@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .home__message {
    padding: 150px 0 80px 0;
}
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home__message {
    padding: 100px 0 0px 0;
}

.home__top-message-ttl-ja p {
  font-size: 4vw;
}
}

/* sp */
@media screen and (max-width: 768px) {
  .home__message {
    display: none;
  }
}

/* =======================
  reason
======================= */
.home__reason {
  position: relative;
}

.home__reason-back {
  background-image: url(../img/home-reason-abck.avif),
    url(../img/home-reason-abck.webp), url(../img/home-reason-abck.jpg);
  background-size: cover;
}

.home__reason-back img {
  width: 100%;
}

.home__reason-back::before {
  display: block;
  content: "";
  background: var(--color-base-dark);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* テキスト */
.home__reason-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home__reason-ttl-en,
.home__reason-ttl-ja {
  position: relative;
  color: var(--color-text-inverse);
}

.home__reason-ttl-en {
  padding-bottom: 9px;
}

.home__reason-ttl-en::before {
  display: block;
  content: "";
  background: var(--color-text-inverse);
  opacity: 0.3;
  width: 0.5px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  z-index: 1;
}

.home__reason-area {
  padding-bottom: 120px;
}

.home__reason-groupe,
.sp-home__reason-groupe {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 5%;
  padding: 45px 0;
}

.home__reason-item,
.sp-home__reason-item {
  background-color: var(--color-base-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42%;
}

.home__reason-item {
  margin: 0 auto 30px auto;
}

.home__reason-item-wrap,
.sp-home__reason-item-wrap {
  padding: 45px 30px;
  width: 100%;
  box-sizing: border-box;
}

.home__reason-item-ttl,
.sp-home__reason-item-ttl {
  padding-bottom: 17px;
  position: relative;
}

.home__reason-item-ttl {
  padding-top: 30px;
}

.home__reason-ttl-back,
.sp-home__reason-ttl-back {
  display: block;
  content: "";
  color: var(--color-text);
  opacity: 0.08;
  width: 60%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-ja-heading);
  font-size: 5rem;
  text-align: center;
  line-height: var(--line-height-base);
}

.home__reason-item-ttl p,
.sp-home__reason-item-ttl p {
  font-family: var(--font-ja-heading);
  font-size: 1.5rem;
  line-height: var(--line-height-base);
  text-align: center;
  padding: 20px 30px;
}

.home__reason-txt {
  padding-bottom: 30px;
}

.home__reason-big-txt,
.sp-home__reason-big-txt {
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-base);
  padding-bottom: 2px;
}

.home__reason-txt p,
.sp-home__reason-txt p {
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-wide);
  padding: 30px;
}

.sp-home__reason-groupe {
  display: none;
}

/*  */
/*  */
/*  */
/*==================================================
印象編 4 最低限おぼえておきたい動き
===================================*/

/*印象編　4-9、4-10　背景色が伸びて出現（左から・右から）　*/
.bgextend {
  animation-name: bgextendAnimeBase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden; /*　はみ出た色要素を隠す　*/
  opacity: 0;
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*中の要素*/
.bgappear {
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*印象編　4-9 背景色が伸びて出現（左から）*/
/*--------- 上から --------*/
.bgUDextend::before {
  animation-name: bgUDextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a28f81; /*伸びる背景色の設定*/
}

@keyframes bgUDextendAnime {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }
  50% {
    transform-origin: top;
    transform: scaleY(1);
  }
  50.001% {
    transform-origin: bottom;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgUDextendTrigger,
.bgDUextendTrigger,
.bgRLextendTrigger,
.bgLRextendTrigger {
  opacity: 0;
}

/* =======================
  sp reason
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .home__reason-big-txt {
    font-size: 2.35vw;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home__l-container {
    padding: 130px 0;
  }

  .home__reason-item-wrap {
    padding: 45px 15px;
    margin: 0 auto;
  }

  .home__reason-item {
    width: 80%;
  }

  .bgextend {
    margin: 0 0px 20px 0;
  }

  .home__reason-item-ttl {
    padding-bottom: 30px;
  }

  .home__reason-ttl-back {
    font-size: 7.5vw;
    top: 70%;
  }

  .home__reason-big-txt {
    font-size: 28px;
  }

  .home__reason-txt p {
    padding: 20px 25px;
  }
}

/* sp */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .home__reason-groupe {
    display: none;
  }

  .sp-home__reason-groupe {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    padding: 45px 0;
  }

  .home__reason-area {
    width: 90%;
  }

  .sp-home__reason-item-wrap {
    padding: 45px 0px;
  }

  .sp-home__reason-item {
    width: 100%;
    margin: 10px auto;
  }

  .sp-home__reason-item-ttl {
    position: relative;
    padding: 10px 0px 20px 0px;
    width: 90%;
    margin: 0 auto;
  }

  .sp-home__reason-arrow {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out;
  }

  .sp-home__reason-arrow:before,
  .sp-home__reason-arrow::after {
    display: block;
    content: "";
    background: var(--color-primary);
    height: 40px;
    width: 1px;
    position: absolute;
    top: 60%;
    transition: transform 0.3s ease-in-out;
  }

  /* ▼ 初期状態（下向き三角） */
  .sp-home__reason-arrow:before {
    left: 4px;
    transform: translate(-50%, -50%) rotate(-65deg);
  }

  .sp-home__reason-arrow::after {
    left: 40px;
    transform: translate(-50%, -50%) rotate(65deg);
  }

  /* ▲ アコーディオンが開いたとき（上向き三角） */
  .sp-home__reason-item.active .sp-home__reason-arrow:before {
    transform: translate(-50%, -50%) rotate(65deg);
  }

  .sp-home__reason-item.active .sp-home__reason-arrow::after {
    transform: translate(-50%, -50%) rotate(-65deg);
  }

  .sp-home__reason-ttl-back {
    top: 6%;
    left: 7%;
    font-size: 50px;
  }

  .sp-home__reason-item-ttl p {
    text-align: center;
    padding: 0px;
    font-size: 18px;
  }

  .sp-home__reason-big-txt {
    font-size: 22px;
  }

  .sp-home__reason-txt {
    position: relative;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out;
  }

  .sp-home__reason-item.active .sp-home__reason-txt {
    max-height: 500px;
    opacity: 1;
  }

  .sp-home__reason-txt p {
    padding: 60px 25px 0px 25px;
  }
}

@media screen and (max-width: 426px) {
  .home__reason-groupe {
    display: none;
  }

  .sp-home__reason-groupe {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    padding: 45px 0;
  }

  .sp-home__reason-item-wrap {
    padding: 45px 0px;
    position: relative;
  }

  .sp-home__reason-item {
    width: 100%;
    margin: 10px auto;
  }

  .sp-home__reason-item-ttl {
    position: relative;
    padding: 10px 0px 20px 0px;
    width: 80%;
    margin: 0 auto;
  }

  .sp-home__reason-arrow {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out;
  }

  .sp-home__reason-arrow:before,
  .sp-home__reason-arrow::after {
    display: block;
    content: "";
    background: var(--color-primary);
    height: 40px;
    width: 1px;
    position: absolute;
    top: 60%;
    transition: transform 0.3s ease-in-out;
  }

  /* ▼ 初期状態（下向き三角） */
  .sp-home__reason-arrow:before {
    left: 0px;
    transform: translate(-50%, -50%) rotate(-65deg);
  }

  .sp-home__reason-arrow::after {
    left: 36px;
    transform: translate(-50%, -50%) rotate(65deg);
  }

  /* ▲ アコーディオンが開いたとき（上向き三角） */
  .sp-home__reason-item.active .sp-home__reason-arrow:before {
    transform: translate(-50%, -50%) rotate(65deg);
  }

  .sp-home__reason-item.active .sp-home__reason-arrow::after {
    transform: translate(-50%, -50%) rotate(-65deg);
  }

  .sp-home__reason-ttl-back {
    top: 50%;
    left: 12%;
    font-size: 50px;
  }

  .sp-home__reason-item-ttl p {
    text-align: left;
    padding: 0px;
    font-size: 5.85vw;
    font-weight: var(--font-weight-bold);
  }

  .sp-home__reason-big-txt {
    font-size: 5.85vw;
  }

  .sp-home__reason-txt {
    position: relative;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out;
  }

  .sp-home__reason-item.active .sp-home__reason-txt {
    max-height: 500px;
    opacity: 1;
  }

  .sp-home__reason-txt p {
    padding: 40px 15px 0px 15px;
  }
}

/* =======================
  menu
======================= */
.home__menu-list {
  margin: 0 auto;
}

.home__menu-list ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
  padding: 80px 0 50px 0;
}

.home__menu-item {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.home__menu-item-rank {
  display: block;
  width: 20%;
  height: 32%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--color-key);
  opacity: 0.8;
  color: var(--color-text-inverse);
  font-family: var(--font-ja-heading);
  text-align: center;
  font-size: 0.75rem;
  line-height: var(--line-height-base);
  letter-spacing: 0.075rem;
}

.home__menu-item-rank::before {
  display: block;
  content: "人気";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: -1;
}

.home__menu-item-rank::after {
  display: block;
  content: "No.1";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: -1;
}

.home__menu-item-ttl p {
  font-family: var(--font-ja-heading);
  font-size: 1.375rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-base);
}

.home__menu-item-img::before {
  display: block;
  content: "";
  background: var(--color-base-dark);
  width: 95%;
  height: 0.5px;
  position: absolute;
  top: -26px;
  left: 0;
}

.home__menu-item-img {
  position: relative;
  width: 100%;
  z-index: -1;
}

.home__menu-item-img img {
  width: 100%;
}

.home__menu-item-txt p {
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

.home__menu-item {
  opacity: 0;
  transform: translateY(50px); /* 初期位置は左に50pxずらす */
  transition: all 0.8s ease; /* アニメーションの滑らかさを設定 */
}

.home__menu-item.fadeInLeft {
  opacity: 1;
  transform: translateY(0); /* 左から元の位置に移動 */
}

.sp-home__menu-item-ttl {
  display: none;
}

/* =======================
  sp  menu
======================= */

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .home__menu-list ul {
    justify-content: space-around;
    gap: 0;
    padding: 80px 10px 59px 10px;
  }

  .home__menu-item {
    gap: 4vw;
  }

  .home__menu-item-ttl p {
    font-size: 1.69vw;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home__menu-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .home__menu-item {
    width: 80%;
    gap: 80px;
    padding-bottom: 100px;
  }

  .home__menu-item-rank {
    font-size: 1.75rem;
  }

  .home__menu-item-ttl p {
    font-size: 3vw;
  }

  .home__menu-item-img::before {
    width: 70%;
    top: -13%;
    left: 15%;
  }
}

/* sp */
@media screen and (max-width: 768px) {
  .home__menu-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 80px;
  }

  .home__menu-item {
    width: 100%;
    gap: 30px;
    padding-bottom: 0px;
  }

  .home__menu-item-ttl {
    display: none;
  }

  .sp-home__menu-item-ttl {
    display: block;
  }

  .sp-home__menu-item-ttl p {
    font-family: var(--font-ja-heading);
    font-size: 5.85vw;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-base);
  }

  .home__menu-item-rank {
    font-size: 3.8vw;
  }

  .home__menu-item-ttl p {
    font-size: 3vw;
  }

  .home__menu-item-img::before {
    display: none;
  }
}

/* =======================
  voice
======================= */
.home__voice {
  padding-top: 27px;
}

/* slider */
.home__voice-slider {
  overflow: hidden;
  padding-top: 80px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5px 50px 5px;
}

.slick-track {
  display: flex;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20%;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  list-style: none;
  border-radius: 5rem;
}

.slick-dots:hover,
.slick-prev:hover,
.slick-next:hover {
  cursor: pointer;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-base-dark);
  border: none;
  transition: background-color 0.3s ease;
  font-size: 0;
  color: transparent;
}

.slick-dots li.slick-active button {
  background-color: var(--color-base-light);
  border: solid 1px var(--color-base-dark);
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: 20%;
  left: 0%;
  font-size: 0;
  border-radius: 50%;
  padding: 30px;
  border: solid 1px var(--color-base-dark);
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.slick-prev {
  left: 38%;
  transform: translateX(-50%);
}

.slick-next {
  left: 48%;
  transform: translateX(-50%);
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: inherit;
}

.slick-prev:before {
  content: "←";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  backdrop-filter: blur(10px);
}

.slick-next:before {
  content: "→";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  backdrop-filter: blur(10px);
}

/* 感想部分レイアウトはcommon.css */

/* =======================
  sp  voice
======================= */

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .slick-slide {
    gap: 50px;
  }

  .slick-dots {
    bottom: 13%;
  }

  .slick-prev,
  .slick-next {
    bottom: 12%;
    padding: 25px;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home__voice {
    padding-top: 130px;
  }

  .slick-dots {
    bottom: 6%;
  }

  .slick-prev,
  .slick-next {
    bottom: 5%;
    padding: 25px;
  }

  .slick-dots {
    bottom: 13%;
  }

  .slick-prev,
  .slick-next {
    bottom: 12%;
    padding: 25px;
  }

  .slick-dots {
    bottom: 10%;
  }

  .slick-prev,
  .slick-next {
    bottom: 9%;
    padding: 25px;
  }

  .slick-prev {
    left: 32%;
  }

  .slick-next {
    left: 42%;
  }
}

/* sp */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .slick-list draggable {
    width: 100%;
  }

  .slick-slide {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    padding: 30px 5px;
  }

  .slick-prev,
  .slick-next,
  .slick-dots {
    bottom: 0;
  }

  .slick-dots {
    left: 5%;
  }

  .slick-prev,
  .slick-next {
    padding: 25px;
  }

  .slick-next {
    left: 81%;
  }

  .slick-prev {
    left: 63%;
  }
}

@media screen and (max-width: 426px) {
  /* slider */
  .home__voice-slider {
    width: 100%;
  }

  .slick-slide {
    display: block;
    padding: 0 5px;
    position: relative;
  }

  .slick-prev,
  .slick-next,
  .slick-dots {
    bottom: 0;
  }

  .slick-dots {
    left: 5%;
  }

  .slick-prev,
  .slick-next {
    padding: 25px;
  }

  .slick-next {
    left: 87%;
  }

  .slick-prev {
    left: 63%;
  }
}

/* =======================
  profile
======================= */
.home__profile {
  padding-top: 75px;
}

.home__profile-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  padding: 0 0% 50px 0%;
}

.home__profile-img-wrap {
  width: 40%;
}

.home__profile-img {
  width: 100%;
  text-align: right;
  position: relative;
}

.home__profile-img:before {
  display: block;
  content: "";
  background: var(--color-base);
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  box-shadow: 7px 7px 10px rgb(85, 85, 85, 0.4);
}

.home__profile-img::after {
  display: block;
  content: "";
  background: var(--color-base);
  border: solid 1px var(--color-base-light);
  width: 96%;
  height: 82%;
  position: absolute;
  bottom: 1.5%;
  left: 2%;
  z-index: -1;
}

.home__profile-img img {
  width: 100%;
}

.sp-home__profile-txt-name {
  display: none;
}

.home__profile-txt-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 60%;
  position: relative;
  padding-right: 28px;
}

.home__profile-txt-name::before {
  display: block;
  content: "";
  background: var(--color-base-dark);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0%;
  left: 0;
}

.home__profile-txt-name {
  position: relative;
}

.home__profile-txt-name p {
  font-family: var(--font-en-heading);
  font-size: 3.75rem;
  line-height: var(--line-height-tight);
  letter-spacing: 0.375rem;
}

.home__profile-txt-content p {
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  padding-top: 20px;
}

/* =======================
  sp profile
======================= */

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .home__profile-wrap {
    padding: 0 10px 95px 10px;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 767px) {
  .home__profile-wrap {
    flex-direction: column;
    align-items: center;
    gap: 6vw;
    padding: 0 0% 95px 0%;
  }

  .home__profile-txt-wrap {
    padding-right: 0;
    align-items: center;
  }

  .home__profile-txt-content {
    padding-top: 30px;
  }
}

/* sp */
@media screen and (max-width: 768px) {
  .home__profile-wrap {
    align-items: center;
    flex-direction: column;
  }

  .home__profile-img-wrap {
    width: 60%;
  }

  .home__profile-img {
    margin-left: -30%;
    position: relative;
  }

  .home__profile-img:before {
    height: 75%;
  }

  .home__profile-img::after {
    height: 71%;
  }

  .home__profile-img img {
    width: 85%;
    margin-right: 13%;
    margin-left: 0;
  }

  .home__profile-txt-wrap {
    padding-right: 0;
    width: 90%;
  }

  .sp-home__profile-txt-name {
    display: block;
    width: 50%;
    position: absolute;
    top: 60%;
    left: 110%;
    transform: translate(-50%, -50%);
    mix-blend-mode: plus-lighter;
  }

  .sp-home__profile-txt-name p {
    font-family: var(--font-en-heading);
    font-size: 12vw;
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-base);
  }

  .sp-home__inverse-txt {
    color: var(--color-text-inverse);
  }

  .home__profile-wrap {
    gap: 50px;
    padding: 0;
  }

  .home__profile-txt-name {
    display: none;
  }

  .home__profile-txt-content {
    width: 100%;
  }
}

/* =======================
  news
======================= */
.home__news-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__news-txt {
  padding: 60px 0 70px 0;
  width: 75%;
}

.home__news-txt p {
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  text-align: left;
}

.home__news-img-groupe {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 5%;
  padding-bottom: 50px;
}

.home_news-img-item {
  width: 27%;
  position: relative;
  z-index: -1;
  box-shadow: 7px 7px 10px rgb(85, 85, 85, 0.4);
}

.home_news-img-item img {
  width: 100%;
}

.home__news-left::before,
.home__news-center::before,
.home__news-right::before {
  display: block;
  content: "";
  border: solid 3px var(--color-base-light);
  width: 80%;
  height: 80%;
  position: absolute;
  top: 7%;
  left: 9%;
}

.sp-home__news-img-item {
  display: none;
}

/* =======================
  sp news
======================= */

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home_news-img-item {
    display: none;
  }

  .sp-home__news-img-item {
    display: block;
    margin: 0 auto;
    box-shadow: 7px 7px 10px rgb(85, 85, 85, 0.4);
  }

  .sp-home__news-img-item img {
    width: 100%;
  }
}

/* sp */
@media screen and (max-width: 767px) {
  .home_news-img-item {
    display: none;
  }

  .sp-home__news-img-item {
    display: block;
    margin: 0 auto;
    box-shadow: 7px 7px 10px rgb(85, 85, 85, 0.4);
  }

  .sp-home__news-img-item img {
    width: 100%;
  }

  .home__news-img-groupe {
    padding-bottom: 0;
  }
}
