/* header・footer */
/* =======================
   共通
======================= */
.l-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}


/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .l-container {
   padding: 0 5%;
  }
}

/* sp */
@media screen and (max-width: 767px) {
  .l-container {
    padding: 0 5%;
   }
}