.contact__form {
    padding-top: 80px;
  }
  
  .contact__form-wrap {
  }

  .contact__attention {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
  }
  
  .contact__attention-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .contact__attention-txt p,
  .contact-form-attention {
    font-size: var(--font-size-text);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }
  
  .contact__attention-txt p {
    text-align: left;
  }
  
  .contact-form-attention {
    text-align: left;
    padding-bottom: 25px;
    width: 80%;
  }

  .contact__attention-add {
    width: 80%;
  }
  
  .contact__email {
    display: flex;
    align-items: center;
    gap: 8px;
    color: inherit;
  }
  
  .contact__email:hover {
    opacity: .5;
  }
  
  .contact__email img {
    width: 20px;
    height: auto;
  }
  
  .contact__attention-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact__attention-txt p,
  .contact-form-attention {
    font-size: var(--font-size-text);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }
  
  .contact__attention-txt p {
    text-align: left;
  }
  
  .contact-form-attention {
    text-align: left;
    padding-bottom: 25px;
    width: 80%;
  }
  
  .contact__form-list {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0 160px 0;
  }
  
  .contact-form-item {
    padding: 20px 0;
  }
  
  .radio-group {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-content: flex-start;
    width: 80%;
  }
  
  .radio-group label {
    font-size: 1.25rem;
  }
  
  .contact-cancel-text,
  .contact-privacy-text {
    width: 82%;
  }
  
  .contact-form-cancel-attention,
  .contact-form-privacy-attention {
    font-size: 1.25rem;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    padding-bottom: 20px;
  }
  
  /*************************** 
  
  ****************************/
  /* フォーム */
  .contact-form {
    width: 100%;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  
  .contact-form-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .contact-form-label,
  .contact-form-input {
    padding: 10px;
  }
  
  .contact-form-label {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-family: var(--font-ja-heading);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }
  
  .contact-form-input {
    width: 75%;
    font-size: 1.25rem;
    border: 1px solid var(--color-base);
    background-color: var(--color-base-light);
    border-radius: 0.35em;
    font-family: var(--font-ja-heading);
  }
  
  .contact-form-input:focus-visible {
    outline: var(--color-key) auto 1px;
  }
  
  .contact-form-required {
    font-family: var(--font-ja-heading);
    font-size: 1rem;
    color: var(--color-base-light);
    background-color: var(--color-key);
    border: 1px solid var(--color-key);
    border-radius: 5px;
    padding: 5px 7px;
    margin: 0 0 0 18px;
  }
  
  textarea.contact-form-input {
    height: 160px;
  }
  
  .contact-form-submit {
    text-align: center;
    width: 100%;
  }
  
  .button {
    height: 100%;
  }
  
  .contact-form-submit button {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-base);
    background-color: var(--color-base-light);
    border: 1px solid var(--color-base);
    border-radius: 0.35em;
    padding: 30px 100px;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .contact-form-submit button:hover {
    background-color: var(--color-base);
    color: var(--color-text-inverse);
  }
  
  #error-message {
    margin: 20px auto;
    color: var(--color-key);
    display: none;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }
  
  /* tab */
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .contact__form-list {
      width: 100%;
    }
  }
  
  /* sp */
  @media screen and (max-width: 768px) {
    .contact__attention {
      width: 100%;
  }
  
  .contact__attention-txt,
  .contact__attention-add {
    width: 90%;
  }

    .contact__form-list {
      width: 100%;
    }

    .contact-form-label,
    .contact-form-input {
      width: 100%;
    }

    .contact-form-input {
      font-size: 1.125rem;
  }

    .radio-span {
      display: block;
      padding-top: 8px;
    }
  }
  