/* =======================
   concept
======================= */
.menu__concept-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 65px;
  padding-bottom: 150px;
}

.menu__concept-left-wrap,
.menu__concept-center-wrap,
.menu__concept-right-wrap {
  width: 30%;
  padding: 0 20px;
  line-height: var(--line-height-base);
}

.menu__concept-center-wrap,
.menu__concept-right-wrap {
  border-left: dotted 1px var(--color-base);
}

.menu__concept-left,
.menu__concept-center,
.menu__concept-right {
  width: 100%;
  margin: 0 auto;
}

.menu__concept-ttl {
  font-size: 1.875rem;
  text-align: center;
  font-family: var(--font-ja-heading);
  font-weight: var(--font-weight-bold);
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.menu__concept-txt {
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  padding-top: 10px;
}

.sp-concept__toggle-btn {
  display: none;
}

/* =======================
  sp concept
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .menu__concept-ttl {
    font-size: 2.3vw;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .menu__concept-ttl {
    font-size: 2.3vw;
  }
}

/* sp */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .menu__concept-group {
    padding-top: 65px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: center;
  }

  .menu__concept-center-wrap,
  .menu__concept-right-wrap {
    border-left: none;
  }

  .menu__concept-left-wrap,
  .menu__concept-center-wrap,
  .menu__concept-right-wrap {
    width: 100%;
    align-items: center;
    padding: 0;
    border: solid 1px var(--color-base);
    margin-bottom: 40px;
    box-shadow: 7px 7px 10px rgb(85, 85, 85, 0.25);
  }

  .menu__concept-left,
  .menu__concept-center,
  .menu__concept-right {
    position: relative;
  }

  .menu__concept-ttl {
    font-size: 1.125rem;
    text-align: left;
    padding: 26px 20% 26px 20%;
    position: relative;
    margin: 0 auto;
  }

  .menu__concept-ttl:hover{
    cursor: pointer;
  }

  .menu__concept-txt::before {
    display: block;
    content: "";
    background: var(--color-primary);
    width: 60%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sp-concept__toggle-btn {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 18%;
    transform: translate(-50%, -50%);
  }

  .sp-concept__toggle-btn:hover {
    cursor: pointer;
  }

  .sp-concept__toggle-btn::before,
  .sp-concept__toggle-btn::after {
    display: block;
    content: "";
    background: var(--color-primary);
    position: absolute;
    width: 1.5px;
    height: 35px;
    transition: transform 0.45s ease-in-out;
  }

  .sp-concept__toggle-btn::before {
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%) rotate(32deg);
  }

  .sp-concept__toggle-btn::after {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%) rotate(-32deg);
  }

  
  .sp-concept__toggle-btn.active::before {
    transform: rotate(-32deg);
    transition: 0.45s ease-in-out;
}

.sp-concept__toggle-btn.active::after {
  transform: rotate(32deg);
  transition: 0.45s ease-in-out;
}


  .menu__concept-txt {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    padding: 0 15px;
    position: relative;
  }

  .menu__concept-txt.active {
    max-height: 500px;
    opacity: 1;
    padding: 4vw 6vw;
  }
}

@media screen and (max-width: 426px) {
  .menu__concept-group {
    padding-top: 65px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: center;
  }

  .menu__concept-center-wrap,
  .menu__concept-right-wrap {
    border-left: none;
  }

  .menu__concept-left-wrap,
  .menu__concept-center-wrap,
  .menu__concept-right-wrap {
    width: 100%;
    align-items: center;
    padding: 0;
    border: solid 1px var(--color-base);
    margin-bottom: 40px;
    box-shadow: 7px 7px 10px rgb(85, 85, 85, 0.25);
  }

  .menu__concept-left,
  .menu__concept-center,
  .menu__concept-right {
    position: relative;
  }

  .menu__concept-ttl {
    font-size: 1rem;
    text-align: left;
    padding: 26px 10%;
    position: relative;
    margin: 0 auto;
  }

  .menu__concept-txt::before {
    display: block;
    content: "";
    background: var(--color-primary);
    width: 80%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sp-concept__toggle-btn {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);

  }

  .sp-concept__toggle-btn:hover {
    cursor: pointer;
  }

  .sp-concept__toggle-btn::before,
  .sp-concept__toggle-btn::after {
    display: block;
    content: "";
    background: var(--color-primary);
    position: absolute;
    width: 1.5px;
    height: 35px;
    transition: transform 0.45s ease-in-out;
  }

  .sp-concept__toggle-btn::before {
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%) rotate(32deg);
  }

  .sp-concept__toggle-btn::after {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%) rotate(-32deg);
  }

  .sp-concept__toggle-btn.active::before {
    transform: rotate(-32deg);
    transition: 0.45s ease-in-out;
}

.sp-concept__toggle-btn.active::after {
  transform: rotate(32deg);
  transition: 0.45s ease-in-out;
}


  .menu__concept-txt {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.5s ease;
    padding: 0 15px;
    position: relative;
  }

  .menu__concept-txt.active {
    max-height: 500px;
    opacity: 1;
    padding: 7vw;
  }
}

/* =======================
   menu-item
======================= */
.menu__item {
}

.menu__item-trip,
.menu__item-cruise,
.menu__item-closet {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu__item-wrap {
  position: relative;
  padding: 90px 0 120px 0;
}

.menu__item-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

/* menu上部 左（img） */
.menu__item-top-left {
  width: 53%;
}

.menu__item-top-img,
.sp-menu__item-top-img {
  position: relative;
  z-index: -1;
}

.menu__item-top-img::before,
.sp-menu__item-top-img::before {
  display: block;
  content: "";
  border: solid 1px var(--color-base-dark);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -2;
}


.sp-menu__item-top-img {
  border: solid 1px var(--color-base-dark);
}

.menu__item-closet-img {
  width: 86%;
  padding: 5% 5% 8% 5%;
}

.menu__item-top-img img,
.sp-menu__item-top-img img {
  width: 100%;
}

.menu__item-top-right {
  display: flex;
  flex-direction: column;
  width: 44%;
  gap: 44px;
}

.menu__top-ttl-wrap,
.sp-menu__top-ttl-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-left: -19%;
  margin-top: 5%;
}

.menu__item-top-sub-ttl p,
.menu__item-top-ttl p,
.sp-menu__item-top-sub-ttl p,
.sp-menu__item-top-ttl p {
  font-family: var(--font-ja-heading);
  color: var(--color-primary);
  line-height: 1.2;
  background-color: var(--color-text-inverse);
  width: 100%;
}

.menu__item-top-sub-ttl p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  padding: 21px 20px;
}

.menu__item-top-ttl p {
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.3125rem;
  padding: 10px 15px;
}

.menu__item-top-txt {
  width: 95%;
  text-align: justify;
}

.menu__item-top-txt p,
.sp-menu__item-top-txt p {
  color: var(--color-primary);
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

/*closetのみ テキスト感のライン消す用 */
.menu_closet-txt-block {
  position: relative;
}

.menu__closet-block-element {
  display: block;
  content: "";
  background: var(--color-base-light);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 19%;
  left: -13%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* menu下部 flow */
.menu__item-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  padding: 110px 0 0px 0;
}

.menu__item-bottom-ttl {
  position: relative;
  width: 32%;
}

.menu__item-bottom-ttl::before,
.menu__item-bottom-ttl::after {
  display: block;
  content: "";
  background: var(--color-base-dark);
  position: absolute;
  width: 100%;
  height: 0.5px;
}

.menu__item-bottom-ttl::before {
  top: 1%;
  left: 1%;
}

.menu__item-bottom-ttl::after {
  bottom: 1%;
  left: 1%;
}

.menu__item-bottom-ttl p {
  font-family: var(--font-ja-heading);
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  letter-spacing: var(--letter-spacing-base);
  text-align: center;
  padding: 15px 0;
}

.menu__item-flow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  padding-top: 60px;
}

.menu__item-flow-list {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  text-align: center;
}

.menu__item-flow-num {
  background-color: var(--color-base);
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.menu__item-flow-num p {
  color: var(--color-text-inverse);
  font-family: var(--font-en-heading);
  font-size: 2rem;
  line-height: var(--line-height-tight);
  letter-spacing: 0.12rem;
  width: 100%;
}

.menu__item-small-txt {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  padding-right: 10px;
}

/* 矢印 */
.menu__item-arrow {
  display: block;
  background: var(--color-primary);
  width: 50%;
  height: 1px;
  position: absolute;
  bottom: 50%;
  right: -75%;
}

.menu__item-arrow-small {
  display: block;
  background: var(--color-primary);
  width: 30%;
  height: 1px;
  position: absolute;
  bottom: 50%;
  right: -45%;
}

.menu__item-arrow::before,
.menu__item-arrow::after,
.menu__item-arrow-small::before,
.menu__item-arrow-small::after {
  display: block;
  content: "";
  background: var(--color-primary);
  position: absolute;
  height: 0.75px;
  transition: 0.3s ease-in-out;
}

.menu__item-arrow-small::before,
.menu__item-arrow-small::after {
  width: 20%;
  right: 0%;
}

.menu__item-arrow-small::before {
  bottom: 2.5px;
  transform: rotate(35deg);
}

.menu__item-arrow-small::after {
  bottom: -2.5px;
  transform: rotate(-35deg);
}

.menu__item-arrow::before,
.menu__item-arrow::after {
  width: 8%;
  right: 0%;
}

.menu__item-arrow::before {
  bottom: 2.5px;
  transform: rotate(35deg);
}

.menu__item-arrow::after {
  bottom: -2.5px;
  transform: rotate(-35deg);
}

.menu_item-flow-ttl p {
  font-family: var(--font-ja-heading);
  font-size: 1.55rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
  letter-spacing: var(--letter-spacing-base);
}

.menu__item-flow-txt p {
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  text-align: left;
}

/* btn */
.menu__item-btn {
  margin: 0 auto;
  padding: 80px 0;
}

.menu__item-btn-link {
  padding: 20px 100px;
  font-size: 1.625rem;
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

/* sp用 レイアウト */
.sp-menu__item-top {
  display: none;
}

.sp-menu__item-bottom-ttl {
  display: none;
}

/* =======================
   sp menu-item
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .menu__item-trip,
  .menu__item-cruise,
  .menu__item-closet {
    padding: 0 50px;
  }

  .menu__item-top-sub-ttl p {
    font-size: 2.45vw;
  }

  .menu__item-top-ttl p {
    font-size: 2.85vw;
  }

  .menu__item-bottom-ttl p {
    font-size: 1.85vw;
  }

  .menu_item-flow-ttl p {
    font-size: 1.85vw;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  /* menu上部 左（img） */
  .menu__item-top {
    display: none;
  }

  /* menu下部 flow */
  .menu__item-bottom-ttl p {
    font-size: 2.5vw;
  }

  .menu__item-flow {
    flex-direction: column;
    align-items: center;
    gap: 90px;
    padding-top: 90px;
  }

  .menu__item-flow-list {
    width: 80%;
    gap: 40px;
  }

  /* 矢印 */
  .menu__item-arrow,
  .menu__item-arrow-small {
    display: none;
  }

  /* sp用 menu-item 上部 */
  .sp-menu__item-top {
    display: block;
  }

  .sp-menu__item-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .sp-menu__item-top-img {
    position: relative;
    width: 47%;
    box-shadow: 7px 7px 10px rgb(85, 85, 85, 0.4);
  }

  .sp-menu__item-top-img::before {
    top: -15px;
    left: -15px;
  }

  .sp-menu__item-top-img img {
    width: 100%;
  }

  .sp-menu__top-ttl-wrap {
    margin-left: -4.5%;
    width: 47%;
  }

  .sp-menu__item-top-sub-ttl p,
  .sp-menu__item-top-ttl p {
    border: solid 0.5px var(--color-primary);
  }

  .sp-menu__item-top-sub-ttl p {
    font-size: 2.45vw;
    padding: 10px 7px 10px 20px;
  }

  .sp-menu__item-top-ttl p {
    font-size: 2.8vw;
    padding: 10px 7px 10px 50px;
  }

  .sp-menu__item-top-txt {
    padding-top: 55px;
    width: 80%;
    margin: 0 auto;
  }

  .menu__item-flow {
    padding-top: 60px;
  }

  .menu__item-flow-num {
    width: 50%;
  }

  .menu__item-flow-num p {
    padding: 10px 0;
  }

  .menu_item-flow-ttl p {
    font-size: 2.5vw;
  }
}

/* sp */
@media screen and (max-width: 768px) {
  /* menu上部 左（img) */
  .menu__item-top {
    display: none;
  }
  .sp-menu__item-top {
    display: block;
  }

  /* menu下部 flow */
  .menu__item-bottom {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: contents;
  }

  .menu__item-bottom-ttl {
    display: none;
    margin: 30px 0;
  }

  /* sp用 */
  .sp-menu__item-top {
  }

  .sp-menu__item-bottom-wrap {
    position: relative;
    margin: 0 auto;
    width: 90%;
    padding: 30px 0;
  }

  .sp-menu__item-bottom-ttl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 1vw;
    padding: 3vw 0vw;
    cursor: pointer;
    border: solid 1px var(--color-primary);
    box-shadow: 7px 7px 10px rgb(85, 85, 85, 0.2);
    margin-top: 40px;
  }

  .sp-menu__item-bottom-ttl p {
    font-family: var(--font-ja-heading);
    font-size: 1.125rem;
    text-align: left;
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-base);
    width: 70%;
  }

  .sp-menu__item-toggle-btn {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .sp-menu__item-toggle-btn::before,
  .sp-menu__item-toggle-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background: var(--color-primary);
    transition: transform 0.3s ease-in-out;
  }
  
  .sp-menu__item-toggle-btn::before {
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
  }
  
  .sp-menu__item-toggle-btn::after {
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
  }
  
  .sp-menu__item-toggle-btn.active::before {
    transform: translateY(-50%) rotate(45deg);
  }
  
  .sp-menu__item-toggle-btn.active::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  

  .menu__item-flow {
    flex-direction: column;
    align-items: center;
    gap: 90px;
    padding-top: 0px;
  }

  .menu__item-flow-list {
    width: 80%;
    gap: 40px;
    padding: 40px 0;
  }

  /* 矢印 */
  .menu__item-arrow,
  .menu__item-arrow-small {
    display: none;
  }

  /* sp用 menu-item 上部 */
  .sp-menu__item-top {
  }

  .sp-menu__item-top-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .sp-menu__item-top-img {
    width: 90%;
    box-shadow: 7px 7px 10px rgb(85, 85, 85, 0.4);
  }

  .sp-menu__item-top-img::before {
    top: -15px;
    left: -15px;
  }

  .sp-menu__item-top-img img {
    width: 100%;
  }

  .sp-menu__top-ttl-wrap {
    width: 77%;
    position: absolute;
    top: 100%;
    right: -30%;
    transform: translate(-50%, -50%);
  }

  .sp-menu__item-top-sub-ttl {
    width: 100%;
  }

  .sp-menu__item-top-ttl {
    width: 100%;
  }

  .sp-menu__item-top-sub-ttl p,
  .sp-menu__item-top-ttl p {
    border: solid 0.5px var(--color-primary);
  }

  .sp-menu__item-top-sub-ttl p {
    font-size: 15px;
    padding: 3vw 2.5vw 3vw 20px;
    text-align: center;
  }

  .sp-menu__item-top-ttl p {
    font-size: 17px;
    padding: 3vw 1.5vw 3vw 2vw;
    text-align: center;
  }

  .sp-menu__item-top-txt {
    padding-top: 26vw;
    width: 80%;
    margin: 0 auto;
  }

  .menu__item-flow {
    display: none;
    transition: opacity 0.4s ease-in-out;
  }

  .menu__item-flow.open {
    opacity: 1;
    max-height: 1500px;
  }

  .menu__item-flow-num {
    width: 80%;
  }

  .menu__item-flow-num p {
    padding: 10px 0;
  }

  .menu_item-flow-ttl p {
    font-size: 24px;
  }

  /* btn */
  .menu__item-btn {
    margin: 0 auto;
    padding: 80px 0;
  }

  .menu__item-btn-link {
    padding: 30px 15vw;
    font-size: 1.25rem;
  }
}

/* =======================
  プライス
======================= */
.menu__price {
}

.menu__price-wrap {
  margin: 0 auto;
}

.menu__price-wrap ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 17px;
  padding: 80px 10px 76px 10px;
}

.menu__price-list {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  border: solid 1px var(--color-primary);
  padding: 80px 27px;
  position: relative;
}

.menu__price-list-ttl {
  padding: 17px 0;
  border-bottom: solid 1px;
}

.menu__price-list-ttl p,
.menu__price-one-ttl p,
.menu__price-two-ttl p,
.menu__price-one-time p,
.menu__price-two-time p,
.menu__price-one-price p,
.menu__price-two-price p {
  color: var(--color-primary);
  font-family: var(--font-ja-heading);
  font-weight: var(--font-weight-bold);
}

.menu__price-list-ttl p,
.menu__price-one-price p,
.menu__price-two-price p {
  line-height: 1.2;
}

.menu__price-list-ttl p {
  font-size: 1.3rem;
  letter-spacing: var(--letter-spacing-base);
  width: 100%;
}

.menu_price-one,
.menu_price-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.menu__price-one-ttl p,
.menu__price-two-ttl p {
  font-size: var(--font-size-text);
  line-height: 1.4;
  letter-spacing: var(--letter-spacing-base);
}

.menu__price-one-time p,
.menu__price-two-time p {
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-wide);
}

.menu__price-one-price p,
.menu__price-two-price p {
  font-size: 2.25rem;
  letter-spacing: var(--letter-spacing-base);
}

.menu__price-small-txt {
  color: var(--color-primary);
  font-family: var(--font-ja-heading);
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-wide);
  padding-left: 15px;
}

.menu__price-attention ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 56px;
}

.menu__price-attention-list {
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-base);
}

.menu__price-attention-list:nth-child(2) {
  padding: 40px 0;
}

.menu__price-attention-list:nth-child(2) p {
  text-indent: 1rem;
}


.menu__price-attention-list p {
  display: block;
  padding-top: 18px;

}

/* =======================
   sp menu-price
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .menu__price-list {
    gap: 60px;
    padding: 80px 10px;
  }

  .menu__price-list-ttl p {
    font-size: 1.8vw;
    width: 100%;
  }

  .menu_price-one,
  .menu_price-two {
    gap: 13px;
  }

  .menu_price-one {
    padding-bottom: 15px;
  }

  .menu__price-one-price p,
  .menu__price-two-price p {
    font-size: 3.2vw;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .menu__price-wrap ul {
    align-items: center;
    flex-direction: column;
    gap: 55px;
  }

  .menu__price-list {
    width: 80%;
    gap: 40px;
    padding: 50px 27px;
  }

  .menu__price-list-ttl p {
    font-size: 1.375rem;
  }

  .menu_price-one {
    padding: 30px 0 50px 0;
  }
}

/* sp */
@media screen and (max-width: 768px) {
  .menu__price-wrap ul {
    align-items: center;
    flex-direction: column;
    gap: 55px;
  }

  .menu__price-list {
    width: 80%;
    gap: 2vw;
    padding: 20vw 27px;
  }

  .menu__price-list-ttl p {
    font-size: 1.155rem;
  }

  .menu_price-one {
    padding: 30px 0 50px 0;
  }

  .menu__price-attention-list:nth-child(2) p {
    text-indent: 0;
  }

  .menu__price-small-txt {
    padding-left: 8px;
  }
}

/* =======================
  エリア
======================= */
.menu__area-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 75px 10px 40px 10px;
  gap: 38px;
}

.menu__area-name,
.menu__area-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu__area-inner {
  margin: 0 auto;
  height: 100%;
  border: solid 1px var(--color-primary);
}

.menu__area-ttl p {
  text-align: center;
  font-family: var(--font-ja-heading);
  font-size: 1.875rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
  letter-spacing: 0.1875rem;
  padding-top: 60px;
}

.menu__area-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
  row-gap: 60px;
  padding: 60px 45px 30px 45px;
  box-sizing: border-box;
}

.menu__area-place {
  flex: 0 1 calc(50% - 10px);
  text-align: center;
  padding: 6px 50px;
  border: 1px solid var(--color-primary);
  box-sizing: border-box;
}

.menu__area-place p {
  color: var(--color-primary);
  font-family: var(--font-ja-heading);
  font-size: 1.625rem;
  line-height: var(--line-height-base);
  letter-spacing: 0.06em;
  width: 100%;
}

.menu__area-tab {
  display: none;
}

/* attention */
.menu__area-attention {
  width: 83%;
  padding: 60px 45px 30px 45px;
  margin: 0 auto;
}

.menu__area-attention-list {
}

.menu__area-attention-list:nth-child(1) {
  padding-bottom: 35px;
}

.menu__area-attention-list:nth-child(2),
.menu__area-attention-list:nth-child(3) {
  padding-left: 16px;
}

.menu__area-attention-mark {
  position: absolute;
  top: 0;
  left: -5%;
}

.menu__area-attention-list p {
  color: var(--color-primary);
  font-size: var(--font-size-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-wide);
  position: relative;
  display: block;
}

.sp-menu__area-place-attention {
  display: none;
}

/* =======================
  sp エリア
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .menu__area-wrap {
    gap: 20px;
  }

  .menu__area-list {
    padding: 60px 30px 30px 30px;
  }

  /* attention */
  .menu__area-attention {
    width: 90%;
    padding: 60px 25px 30px 25px;
  }

  .menu__area-attention-mark {
    position: absolute;
    top: 0%;
    left: -6%;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .menu__area-wrap {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .menu__area-name,
  .menu__area-txt {
    width: 80%;
  }

  .menu__area-inner {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: solid 1px var(--color-primary);
  }

  .menu__area-list {
    row-gap: 30px;
    padding: 60px 45px;
  }

  /* attention */
  .menu__area-attention {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
  }

  .menu__area-place {
    padding: 6px 45px;
  }

  .menu__area-place p {
    font-size: 2.5vw;
  }

  .menu__area-attention-list {
    text-align: left;
    margin: 0;
  }

  .menu__area-attention-mark {
    position: absolute;
    top: 0%;
    left: -2.5vw;
  }
}

/* sp */
@media screen and (max-width: 768px) {
  .menu__area-wrap {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 60px 0px;
  }

  .menu__area-name,
  .menu__area-txt {
    width: 100%;
  }

  .menu__area-inner {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: solid 1px var(--color-primary);
    border-top: none;
    opacity: 0;
    display: none;
  }

  .menu__area-inner.is-active {
    display: block;
    opacity: 1;
    animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }

  @keyframes displayAnime {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* タブ表示 */
  .menu__area-tab {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .menu__area-tab li {
    border: solid apx var(--color-primary);
    width: 50%;
  }

  .menu__area-tab li {
    background: rgba(162, 143, 129, 0.6);
  }

  .menu__area-tab li.active {
    background-color: var(--color-base-light);
    width: 50%;
  }

  .menu__area-tab li a {
    display: block;
    margin: 0;
    padding: 10px 15px;
    color: var(--color-base-light);
    text-align: center;
  }

  .menu__area-tab li.active a {
    border: solid 1px var(--color-primary);
    border-bottom: none;
    color: var(--color-primary);
    text-align: center;
  }

  /* タブ内容のアニメーション */
  .menu__area-ttl {
    display: none;
    opacity: 0;
    background: #fff;
    padding: 50px 20px;
  }

  .menu__area-ttl.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  /* attention */
  .menu__area-attention {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 8vw 3vw;
  }

  @keyframes displayAnime {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .menu__area-list {
    row-gap: 0px;
    padding: 50px 0;
  }

  .menu__area-place {
    flex: 0 1 calc(80% - 10px);
    margin: 0 auto;
    padding: 5vw 3vw;
    border: none;
  }

  .menu__area-place p {
    font-size: 1.25rem;
    width: 90%;
    border: solid 1px var(--color-primary);
    padding: 3vw 2vw;
  }

  .menu__area-attention-list {
    text-align: left;
    margin: 0;
  }

  .menu__area-attention-mark {
    position: absolute;
    top: 0%;
    left: -2.5vw;
  }

  .sp-menu__area-place-attention {
    display: block;
    width: 80%;
    padding: 0px 0 70px 0;
    margin: 0 auto;
  }

  .sp-menu__area-place-attention p {
    font-family: var(--font-ja-heading);
    font-size: 1rem;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }
}

/* =======================
  menu Q&A
======================= */
.menu__faq {
  margin: 0 auto;
  padding-bottom: 305px;
}

.menu__faq-wrap {
  padding-top: 80px;
  margin: 0 auto;
  width: 70%;
}

.menu__faq-wrap ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__faq-list {
  width: 100%;
  border-bottom: 1px solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
}

.menu__faq-list:nth-child(2) {
  border: none;
}

.menu__faq-list-inner {
  padding: 20px 0 50px 0;
  margin: 0 auto;
  position: relative;
}

.menu__faq-list-q {
  position: relative;
  transition: 0.3s ease;
}

.menu__faq-list-q p,
.menu__faq-list-a p {
  color: var(--color-primary);
  font-family: var(--font-ja-heading);
  font-size: var(--font-size-text);
  text-align: left;
}

.menu__faq-list-q p {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
  letter-spacing: 0.225rem;
  padding-bottom: 20px;
  width: 80%;
}

.sp-menu__faq-toggle-btn {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 4%;
  transition: transform 0.3s ease-in-out;
}

.menu__faq-list-q:hover,
.sp-menu__item-toggle-btn:hover {
  cursor: pointer;
}

.sp-menu__faq-toggle-btn::before,
.sp-menu__faq-toggle-btn::after {
  display: block;
  content: "";
  background: var(--color-primary);
  position: absolute;
  width: 1.5px;
  height: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.45s ease-in-out;
}

.sp-menu__faq-toggle-btn::before {
  left: 50%;
  transform: translate(-50%, -50%) rotate(32deg);
}

.sp-menu__faq-toggle-btn::after {
  left: 0%;
  transform: translate(-50%, -50%) rotate(-32deg);
}

.menu__faq-list-a {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu__faq-list-a p {
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  padding: 10px 5px;
}

.menu__faq-list-a.active {
  display: block;
}

.menu__faq-list.active .menu__faq-list-a {
  max-height: 500px;
  opacity: 1;
}

.sp-menu__faq-toggle-btn.active::before {
transform: rotate(-32deg);
transition: 0.45s ease-in-out;
}

.sp-menu__faq-toggle-btn.active::after {
  transform: rotate(32deg);
  transition: 0.45s ease-in-out;
}

.menu__faq-reserve-url {
  display: inline-block;
  transition: .2s ease-in-out;
  text-align: center;
  color: var(--color-primary);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  opacity: .7;
  text-indent: 8px;
}

.menu__faq-reserve-url:hover {
  color: var(--color-key);
}

/* =======================
  sp menu Q&A
======================= */
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .menu__faq-wrap {
    width: 75%;
  }

  .menu__price-attention ul {
    padding-left: 10%;
  }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .menu__faq-wrap {
    width: 90%;
  }

  .menu__faq-list-inner {
    padding: 20px 0;
  }
}

/* sp */
@media screen and (max-width: 767px) {
  .menu__faq-wrap {
    width: 90%;
  }

  .menu__faq-reserve-url {
    text-indent: 0px;
  }
}
