.thanks-top {
    width: 100%;
    position: relative;
}

.thanks-top-img {
  position: relative;
  width: 100%;
}

.thanks-top-img img {
  width: 100%;
}

.thanks-top-img::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 24.3%; /*アスペクト比 (350 / 1440 = 0.243)*/
  background: rgb(113, 95, 90, 0.8);
  position: absolute;
  left: 0;
  z-index: 1;
}


.thanks-top-ttl {
    font-family: var(--font-en-cursive);
    font-size: 6.25vw;
    color: var(--color-text-inverse);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    letter-spacing: 8px;
    text-align: center;
}

.thanks__page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thanks__page-top-message {
    padding: 100px 0 120px 0;
}

.thanks__page-top-message p {
    text-align: center;
    font-size: 1.125rem;
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
}